<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div id="main">
        <div id="part1">
                <img src="https://static-00.iconduck.com/assets.00/pinterest-icon-512x512-3vn0ggs9.png"  alt="" id="logo">
            <div id="card">
                <img src="images/uploads/<%= oneuser.profileImage %>" alt="" id="dp">
                <h1><%= oneuser.fullname %></h1>
                <h3>@<%= oneuser.username %></h3>
               <div id="logout">
                <!-- <a href="/edit"><button class="edit">Edit</button></a> -->
                <a href="/upload"><button class="edit">Add post</button></a>
                <!-- <a href="/logout"><button class="edit">logout</button></a> -->
               </div>
            </div>
            <div id="nav">
               <a href="/edit"><h4>Edit</h4></a>
               <a href="/feed   "><h4>feed</h4></a>
                <a href="/logout"><h4>logout</h4></a>
            </div>
        </div>
        <div id="part2">
            <div class="gallery">
                <% oneuser.posts.forEach(function(userpost){ %>
                    <div class="gallery-item">
                        <figure>
                          <img src="images/uploads/<%= userpost.image %>" alt="" />
                        </figure>
                        <p><%= userpost.postText %></p>
                      </div>
               <% }) %>
        </div>
    </div>
</body>
</html>